body {
  font-family: 'Nunito', sans-serif;
}

#body-container {
  position: relative;
  background-color: #fafafa;
}

#loading-image {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  /* display: none; */
  background: #ffffff8a;
}

#loading-image img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}